.container {
  margin: 5 9;
  padding: 2 3;
  background: $panel;
  border: tall $background;
  align-vertical: bottom;
}

Vertical {
  align-vertical: bottom;
}

Button {
  width: 1fr;
  margin: 1 1;
}

Static {
  text-style: bold;
  text-align: center;
}
