Screen {
  align: center middle;
}

#background-panel {
  width: 65%;
  height: 60%;
  border: tall $background;
  background: $panel;
  align: center middle;
}

#input-area {
  width: 80%;
  height: auto;
}

#buttons {
  height: auto;
  align-horizontal: center;
}

Button {
  margin: 1;
}
