Screen {
  layout: horizontal;
  align: center middle;
}

#background-panel {
  width: 35%;
  height: 60%;
  border: tall $background;
  background: $panel;
  align: center middle;
}

#background-text-panel {
  width: 30%;
  height: 60%;
  border: tall $background;
  background: $panel;
  align: center middle;
}

#background-text-panel-2 {
  width: 30%;
  height: 60%;
  border: tall $background;
  background: $panel;
  align-vertical: middle;
  align-horizontal: center;
}

Message {
  margin: 2;
  align-vertical: middle;
  align-horizontal: center;
  text-align: center;
  margin-top: 8;
}

LeftWidget {
  align: center middle;
  padding-bottom: 1;
  text-style: bold;
}

#input-area {
  width: 80%;
  height: auto;
}

#buttons {
  height: auto;
  margin: 0;
  align-horizontal: center;
}

#buttons2 {
  height: auto;
  align-horizontal: center;
}

Button {
  margin: 1;
}

Static {
  text-align: center;
}

#bolded {
  text-style: bold;
}
